* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    /* CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
}

.register {
    border-radius: 24px;
    width: 25vw;
    /* 1% of the viewport's width. */
    margin-top: 120px;
    margin-left: 38%;
    padding: 20px;
    background-color: rgb(185, 181, 181);
    opacity: 0.8;
}

.input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    background-color: rgb(185, 181, 181);
}

header {
    font-size: 2rem;
    /* rem = root em */
    text-align: center;
    margin-bottom: 1.5rem;
}

a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    color: #fff;
    background: #000000;
    font-size: 1.2rem;
    letter-spacing: 2px;
    cursor: pointer;
    /* The cursor property specifies the mouse cursor to be displayed when pointing over an element. */
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.button:hover {
    background: #24252a;
}

.button:active {
    background: #f11212;
}

body {
    background-image: url("./img/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background: black;
    color: rgb(255, 255, 255);
    padding: 9px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
}
