* {
    margin: 0;
    padding: 0;
}

/* specifies whether to smoothly animate the scroll position, instead of a straight jump, when the user clicks on a link within a scrollable box. */

html {
    scroll-behavior: smooth;
}

#navbar {
    overflow: hidden;
    /* overflow property only works for block elements */
    /* overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. */
    background-color: rgb(0, 0, 0);
    z-index: 1100;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 13px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}

.sticky {
    position: fixed;
    width: 100%;
}


h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


footer {
    background: black;
    color: rgb(255, 255, 255);
    padding: 9px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
}

.parallax1 {
    background-image: url("./img/image1.jpg");
    min-height: 715px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("./img/image4.jpg");
    min-height: 570px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("./img/image2.webp");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    background-image: url("./img/image4.jpg");
    min-height: 610px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption1 {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

.caption1 span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

div.contentbox1 {
    height: 510px;
    background-color: rgb(5, 69, 75);
    opacity: 0.8;
    padding: 30px;
}

div.content1 {
    color: white;
    font-size: 20px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.about {
    padding: 20px;
    text-decoration: underline;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1.about:hover {
    color: yellow;
    text-decoration: none;
}

h3.gallery {
    padding: 35px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3.heading {
    text-align: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.grid-container1 {
    display: grid;
    height: 200px;
    align-content: center;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: rgb(5, 69, 75);
}

.grid-container1>div {
    background-color: rgb(5, 69, 75);
    text-align: center;
}

div.contentbox2 {
    height: 400px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    padding: 90px;
}

div.content2 {
    color: white;
    font-size: 20px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img.gallery1 {
    height: 190px;
    width: 190px;
    padding: 20px;
}


.zoom {
    transition: transform .2s;
    /* Animation */
}

img.zoom:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


form {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.contact {
    border-radius: 24px;
    width: 25vw;
    margin-top: 120px;
    margin-left: 38%;
    padding: 20px;
    background-color: white;
    opacity: 0.8;
}

.input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
}

header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

a.return {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

a.return:hover {
    text-decoration: underline;
}

.button {
    color: #fff;
    background: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    height: 60px;
    width: 100%;
    border: 0px;
    border-radius: 6px;
}

.button:hover {
    background: #212532;
}

.button:active {
    background: #f11212;
}


.menu {
    display: flex;
    /* By using display flex in parent elements, child elements automatically align like columns or rows with auto width and auto height. */
}

.menu .box {
    border: 4px solid #6c716c;
    padding: 15px;
    margin: 20px 30px;
    border-radius: 50px;
    background-color: #8f908f;
    padding-top: 20px;
}

.menu .box {
    height: 350px;
}

img.sg1 {
    padding-top: 10px;
    height: 150px;
    width: 250px;
}
